.background {
    -fx-background-color: rgba(4, 8, 41, 0.87);
}

.text_label {
    -fx-text-fill: #f4f4ef;
}

.anim_label {
    -fx-text-fill: #6276f4;
}

.anim_label_shine {
    -fx-text-fill: #83bbf4;
}

.text_active {
    -fx-text-fill: #62f485;
}

.username {
    -fx-text-fill: #f4f4ef;
    -fx-font-size: 16px;
}

.menu_button {
    -fx-font-size: 16px;
    -fx-text-fill: #f4f4ef;
}

.menu_button_shine {
    -fx-font-size: 16px;
    -fx-background-color: #f8f0e0;
    -fx-text-fill: #040829;
    -fx-cursor: hand;
}

.message {
    -fx-font-size: 12;
    -fx-text-fill: #f8f0e0;
}

.own_message {
    -fx-font-size: 12;
    -fx-text-fill: #d4f88e;
}

.contact {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #f8f0e0;
}

.contact_search {
    -fx-font-size: 15;
    -fx-font-style: italic;
    -fx-text-fill: #f8f0e0;
}

.contact_online {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #61f850;
}

.contact_online_shine {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #8af884;
}

.contact_offline {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #f85c52;
}

.contact_offline_shine {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #f8927b;
}

.shine_topic {
    -fx-background-color: #040a45;
    -fx-text-fill: #f8f0e0;
}

.background_topic {
    -fx-text-fill: #f8f0e0;
}